.dashboard-wrapper {
  display: flex;
  width: 100%;
}

/* Sidebar fixa */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #346e72;
  color: white;
  padding: 20px;
  z-index: 1000;
}

/* Conteúdo principal ao lado da sidebar */
.main-content {
  margin-left: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 650px;
}

/* Conteúdo abaixo do header */
.dashboard-content {
  flex: 1;
  background-color: #eef2f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: auto;
}
