.employee-detail {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  margin-left: 250px;
}

.back-btn {
  background-color: #346e72;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-btn:hover {
  color: white;
  background-color: #29575a;
}

.employee-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Informações do funcionário */
.employee-info {
  flex: 1;
  min-width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
}

/* Chat */
.chat-box {
  flex: 1;
  min-width: 300px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  height: 450px; /* altura fixa para permitir rolagem */
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 10px;
  max-width: 70%;
}

.message-time {
  font-size: 0.75rem;
  color: #666;
  margin-top: 4px;
  text-align: right;
}


.message.usuario {
  background-color: #d1e7dd;
  align-self: flex-end;
  margin-left: auto;
}

.message.funcionario {
  background-color: #f0f0f0;
  align-self: flex-start;
  margin-right: auto;
}

.input-area {
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-area button {
  background-color: #346e72;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input-area button:hover {
  background-color: #29575a;
}
