/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #346e72;
  color: white;
  transition: left 0.3s ease-in-out;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar.open.fullscreen {
  left: 0;
  width: 100%; /* Faz a sidebar ocupar toda a largura da tela */
}

.menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #306468;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  z-index: 2000; /* Certifique-se que o botão está sobre a sidebar */
}

.menu-button:hover {
  background: #306468;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu ul li {
  padding: 15px;
  text-align: center;
}

.sidebar-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-menu ul li a:hover {
  background: #306468;
  display: block;
  border-radius: 5px;
}

.invite-button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.invite-button {
  background: white;
  color: #1e1e2f;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 80%;
  margin: 0 auto;
}

.invite-button:hover {
  background: rgb(196, 196, 196);
}


/* Responsivo para telas pequenas */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* A sidebar ocupa toda a largura da tela */
    left: -100%; /* Começa fora da tela */
    height: 100vh;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar.open.fullscreen {
    left: 0;
    width: 100%; /* Ocupa a tela inteira */
  }

  .menu-button {
    top: 20px;
    left: 20px;
    z-index: 2000;
  }
}
